
[submodule "CMake/cmake-modules"]
	path = CMake/cmake-modules
	url = https://github.com/OSSIA/cmake-modules
[submodule "3rdparty/ModernMIDI"]
	path = 3rdparty/ModernMIDI
	url = https://github.com/jcelerier/ModernMIDI
[submodule "3rdparty/variant"]
	path = 3rdparty/variant
	url = https://github.com/eggs-cpp/variant
[submodule "3rdparty/oscpack"]
	path = 3rdparty/oscpack
	url = https://github.com/jcelerier/oscpack
[submodule "3rdparty/nano-signal-slot"]
	path = 3rdparty/nano-signal-slot
	url = https://github.com/jcelerier/nano-signal-slot
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdparty/brigand"]
	path = 3rdparty/brigand
	url = https://github.com/edouarda/brigand
[submodule "3rdparty/jni_hpp"]
	path = 3rdparty/jni_hpp
	url = https://github.com/mapbox/jni.hpp
